@import "tailwindcss";


/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #034833;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #045a42;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #034833 transparent;
}